.container {
    width: 90%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100px;
    /* background: #4a9fe2; */
    background-color: #000;
    overflow: hidden;
}
.logo{
    width: 500px;
    height: 30px;
    margin-left: 30px;
    margin-top:30px;
    background:url(../images/5600.jpg) no-repeat left 30%/30%;
}
header h1 {
    font:20px/50px "方正舒体","Microsoft Yahei";
    color: skyblue;
    padding-left: 30px;
}
nav {
    width: 100%;
    /* height:100px; */
    background: #23282d;
}
nav .level01>li {
    display: inline-block;
    position: relative;
}
nav .level01>li>a {
    display: block;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    padding:0 17px;
    
}
.level01 .level02 {
    width: 130px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #444;
    display: none;
}
.level01 .level02 li{
    width: 100%; 
}
.level02>li>a{
   padding-left: 10px;
   display: block;
   line-height: 40px;
   color: #fff;
    
}
.level01>li:hover .level02{
   display: block; 
 }
 .level02>li:hover {
   background: #f90;
  }
  
