/* 初始化css样式 */
/* 此处偷懒下 */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
ul,li {
    list-style: none;
}
img {
    vertical-align: center;
}
input,button {
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
}

.fl{
    float: left;
}
.fr {
    float: right;
}
clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
} 