*{
    margin: 0;
    padding: 0;
}
.main .box {
    width: 30%;
    padding-bottom: 30%;
    margin:1.5%;
    position: relative;
    float:left;
}
.box div {
    position: absolute;
    width: 100%;
    height: 100%;
    background:orange;
    border-radius: 10%;
}